h1 {
  text-align: center;
  color: rgb(232, 252, 252);
  font-family: "Syne", sans-serif;
  font-weight: bold;
}
h4 {
  color: rgb(9, 97, 97);
}
input {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
}
button {
  display: inline;
  margin: 10px auto;
}
body {
  background-color: rgb(98, 188, 194);
}
.author {
  text-align: center;
  background-color: aliceblue;
  margin: 10px 400px;
}
.card {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 40px;
  border-radius: 30px;
  max-width: 1000px;
}
.middle-body {
  display: block;
  margin: 0 auto;
  background: rgb(0, 250, 58);
  background: linear-gradient(
    90deg,
    rgb(145, 255, 246) 0%,
    rgb(117, 180, 220) 100%
  );
}
.cityname {
  margin: 10px;
}
.celcius {
  margin-left: 3px;
}
.currenttemp {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.current-weather-degrees {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: rgb(33, 113, 106);
}
.quote {
  text-align: center;
  font-family: "Syne", sans-serif;
  color: rgb(21, 150, 107);
  font-size: 22px;
  background-color: rgb(207, 243, 219);
  margin: 10px 80px;
}
.container {
  margin: 15px 10px 25px;
}
.card-body {
  padding: 14px 10px 5px 10px;
  margin: 10px 130px;
}
.celcius,
.fahrenheit {
  font-family: "Syne", sans-serif;
  font-size: 22px;
}
.descriptions {
  padding: 0 0 0 80px;
}
.midcard {
  margin: 0px;
  background-color: rgb(110, 178, 180);
}

.row {
  margin: 10px;
  padding: 10px 30px;
}
.search-submit,
#current-submit {
  padding: 3px 10px;
  color: rgb(16, 85, 85);
  background-color: rgba(0, 191, 191, 0.518);
  border-radius: 8px;
  border: darkcyan;
}
#wind,
#humidity {
  list-style-type: none;
}
